<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.segundotrab.appListaDeCompras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.appListaDeCompras">
        <activity android:name="br.com.segundotrab.appListaDeCompras.FormularioActivity"></activity>
        <activity
            android:name="br.com.segundotrab.appListaDeCompras.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.appListaDeCompras.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
